{% extends 'base.html' %}
{% block content %}
    <div class="uk-flex uk-margin">
        <div class="uk-margin-auto uk-margin-top uk-margin-bottom uk-width-1-2@s uk-card uk-card-default uk-card-body">
            <h3>
                {% if form_type == 'create' %}
                    Add Presenter
                {% elif form_type == 'edit' %}
                    Edit Presenter
                {% endif %}
            </h3>

            {% include 'messages.html' %}

            <form method="post" action="{% url 'presenter_save' %}">
                <input type="hidden" name="id" value="{{ presenter.id }}"/>
                <input type="hidden" name="form_type" value="{{ form_type }}"/>

                {% csrf_token %}
                <div class="uk-margin">
                    <label class="uk-form-label" for="input-presenter-name">Name</label>
                    <input type="text"
                           name="name"
                           class="uk-input"
                           id="input-presenter-name"
                           placeholder="Name"
                           value="{{ presenter.name }}"
                           required
                    />
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="input-presenter-surname">Surname</label>
                    <input type="text"
                           name="surname"
                           class="uk-input"
                           id="surname"
                           placeholder="Surname"
                           value="{{ presenter.surname }}"
                           required
                    />
                </div>

                <button type="submit" class="uk-button uk-button-primary">Save</button>
            </form>
        </div>
    </div>
{% endblock %}
