{% if user.is_authenticated %}
    <ul class="uk-breadcrumb uk-margin-top">
        <li><a href="/">Event Management</a></li>
        <li><span>All Presenters</span></li>
    </ul>

    <hr>
    <div class="row marketing">
        <div class="todolist list-group">
            {% if not items %}
                <div class="alert alert-warning">
                    <p>No items in the list.</p>
                </div>
            {% else %}
                {% for item in items %}
                    <div class="uk-flex uk-flex-between uk-margin-bottom">
                        <div class="list-group-item-heading">{{ item.name }} {{ item.surname }}</div>

                        <div class="presenter-actions">
                            <a href="{% url 'presenter_edit' item.id %}" class="uk-button uk-button-primary">
                                Edit
                            </a>
                            <a href="{% url 'presenter_delete' item.id %}" class="uk-button uk-button-danger">
                                Remove
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% else %}
    {% include 'loginInfo.html' %}
{% endif %}
