<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>USV - PW</title>

    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css"/>
    <link href="{% static 'todos/css/style.css' %}" rel="stylesheet">
</head>

<body>
<nav class="uk-navbar-container uk-margin-bottom" uk-navbar>
    <div class="uk-navbar-center">
        <div class="uk-navbar-center-left">
            <ul class="uk-navbar-nav">
                <li role="presentation">
                    <a href="{% url 'index' %}">View Events</a>
                </li>
                <li role="presentation">
                    <a href="{% url 'presenter_index' %}">View Presenters</a>
                </li>
            </ul>
        </div>

        <a href="/" class="uk-navbar-item uk-logo">Events Management</a>

        <div class="uk-navbar-center-right">
            <ul class="uk-navbar-nav">
                {% if user.is_authenticated %}
                    <li role="presentation">
                        <a href="{% url 'create' %}">Add Event</a>
                    </li>
                    <li role="presentation">
                        <a href="{% url 'presenter_create' %}">Add Presenter</a>
                    </li>
                    <li role="presentation">
                        <a class="uk-text-danger" href="{% url 'logout' %}">Logout</a>
                    </li>
                    <li role="presentation">
                        <span class="uk-label">User: {{ user.first_name }} {{ user.last_name }}</span>
                    </li>

                {% else %}
                    <li role="presentation">
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    <li role="presentation">
                        <a href="{% url 'signup' %}">Sign Up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<main class="uk-container">
    {% block content %}{% endblock %}
</main>

<footer class="footer uk-margin-top">
    <p class="uk-heading-line uk-text-center"><span>&copy; USV - Laborator PW</span></p>
</footer>

<script src="{% static 'jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'axios.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>
<script src="{% static 'todos/js/todo.js' %}"></script>
</body>

</html>
