{% extends 'base.html' %}

{% block content %}
    <div class="uk-flex uk-margin">
        <div class="uk-margin-auto uk-margin-top uk-margin-bottom uk-width-1-2@s uk-card uk-card-default uk-card-body">
            <h3>
                {% if form_type == 'create' %}
                    Add Event
                {% elif form_type == 'edit' %}
                    Edit Event
                {% endif %}
            </h3>

            {% include 'messages.html' %}

            <form method="post" action="{% url 'save' %}">
                <input type="hidden" name="id" value="{{ todo.id }}"/>
                <input type="hidden" name="form_type" value="{{ form_type }}"/>

                {% csrf_token %}
                <div class="uk-margin">
                    <label class="uk-form-label" for="input-todo-title">Title</label>
                    <div class="uk-form-controls">
                        <input type="text"
                               name="title"
                               class="uk-input"
                               id="input-todo-title"
                               value="{{ todo.title }}"
                               required
                        />
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="description">Description</label>
                    <div class="uk-form-controls">
                    <textarea name="description"
                              class="uk-textarea"
                              id="description">
                        {% if todo.description is not None %}
                            {{ todo.description }}
                        {% endif %}
                    </textarea>
                    </div>
                </div>

                <button type="submit" class="uk-button uk-button-primary">Save</button>
            </form>
        </div>
    </div>
{% endblock %}
