<div class="uk-grid-small uk-padding" uk-grid>
    <div class="uk-width-1-2">
        <div class="uk-card uk-card-primary uk-card-body" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
            <h3 class="uk-card-title">Log In</h3>
            <p>You need to Login to manage all events</p>
            <a href="{% url 'login' %}" class="uk-button uk-button-default">Login</a>
        </div>
    </div>
    <div class="uk-width-1-2">
        <div class="uk-light uk-background-secondary uk-padding"
             uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
            <h3>Sing Up</h3>
            <p>Or you can sing up for creating a new account</p>
            <a href="{% url 'signup' %}" class="uk-button uk-button-default">Sing up</a>
        </div>
    </div>
</div>