{% extends 'base.html' %}
{% block content %}
    <div class="uk-flex uk-margin">
        <div class="uk-margin-auto uk-margin-top uk-margin-bottom uk-width-1-2@s uk-card uk-card-default uk-card-body">
            <h3>LOG IN</h3>

            {% include 'messages.html' %}

            <form method="post" action="{% url 'authenticate' %}">
                {% csrf_token %}

                <div class="uk-margin">
                    <label class="uk-form-label" for="username">Username</label>
                    <div class="uk-form-controls">
                        <input type="text" id="username" name="username" class="uk-input" required/>
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="password">Password</label>
                    <div class="uk-form-controls">
                        <input type="password" id="password" name="password" class="uk-input" required/>
                    </div>
                </div>

                <button type="submit" class="uk-button uk-button-primary">Login</button>
            </form>
        </div>
    </div>
{% endblock %}
