{% extends 'base.html' %}
{% block content %}
    <div class="uk-flex uk-margin">
        <div class="uk-margin-auto uk-margin-top uk-margin-bottom uk-width-1-2@s uk-card uk-card-default uk-card-body">
            <h3>Sing Up</h3>

            {% include 'messages.html' %}

            <form method="post" action="{% url 'signup-submit' %}">
                {% csrf_token %}
                <div class="uk-margin">
                    <label class="uk-form-label" for="username">Username</label>
                    <div class="uk-form-controls">
                        <input type="text" id="username" name="username" class="uk-input" required/>
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="first-name">First Name</label>
                    <div class="uk-form-controls">
                        <input type="text" id="first-name" name="first_name" class="uk-input" required/>
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="last-name">Last Name</label>
                    <div class="uk-form-controls">
                        <input type="text" id="last-name" name="last_name" class="uk-input" required/>
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="email">Email</label>
                    <div class="uk-form-controls">
                        <input type="email" id="email" name="email" class="uk-input" required/>
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="password">Password</label>
                    <div class="uk-form-controls">
                        <input type="password" id="password" name="password" class="uk-input" required/>
                    </div>
                </div>

                <button type="submit" class="uk-button uk-button-primary">Sign Up</button>
            </form>
        </div>
    </div>
{% endblock %}
