{% if user.is_authenticated %}
    <ul class="uk-breadcrumb uk-margin-top">
        <li><a href="/">Event Management</a></li>
        <li><span>All Events</span></li>
    </ul>
    <hr>

    <div class="uk-margin uk-margin-top">
        <strong class="uk-margin-right">Filter By: </strong>

        <a href="{% url 'index' %}?filter=all"
           class="{% if filter == 'all' %}uk-label{% endif %}">All</a> |
        <a href="{% url 'index' %}?filter=completed"
           class="{% if filter == 'completed' %}uk-label{% endif %}">
            Completed
        </a>
    </div>

    <div class="row marketing">
        <div class="todolist list-group">
            <div>
                {% if not items %}
                    <div class="alert alert-warning">
                        <p>No items in the list.</p>
                    </div>
                {% else %}
                    <form method="post" action="{% url 'complete' %}">
                        {% csrf_token %}
                        {% for item in items %}
                            <div class="uk-flex uk-flex-between uk-margin-bottom {% if item.completed %}uk-text-success{% endif %}">
                                {% if filter != 'completed' %}
                                    <div class="completed-check">
                                        <input
                                                type="checkbox" {% if item.completed %}checked disabled{% endif %}
                                                data-id="{{ item.id }}" name="complete{{ item.id }}"
                                                id="complete{{ item.id }}"
                                                class="uk-checkbox todo-complete-check"
                                        />
                                    </div>
                                {% endif %}

                                <div class="list-group-item-heading uk-text-uppercase">{{ item.title }}</div>

                                <div class="todo-actions">
                                    <a href="{% url 'edit' item.id %}" class="uk-button uk-button-primary">
                                        Edit
                                    </a>
                                    <a href="{% url 'delete' item.id %}" class="uk-button uk-button-danger">
                                        Remove
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                        {% if filter != 'completed' %}
                            <button type="submit" class="uk-button uk-button-secondary">Make completed
                            </button>{% endif %}

                    </form>{% endif %}
            </div>
        </div>
    </div>
{% else %}
    {% include 'loginInfo.html' %}
{% endif %}
